*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
}

.logo img{
    height:60px ;
}

.nav-bar{
    display: flex;
    gap: 32px;
    list-style:none ; 
}
.nav-bar a{
    text-decoration: none;
    font-size:16px ;
    color: #000000;
    cursor: pointer;


} 
.nav-bar a:hover{
    color: goldenrod;
}
.btn-header{
    background-color:#469165;
    color: #FFFFFF;
    font-weight:600 ;
    font-size: 16px;
    border: none;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    border-radius:4px ;
    cursor: pointer;
}
.btn-header:hover{
    background-color: goldenrod;
}
#container-A {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;

}
#hero{
    background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.10)),url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center ;
    color:#FFFFFF ;
    width: 100%;
    min-height:674px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-sub .dot{
    color:#469165 ;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius:1000px ;
    padding-top:8px ;
    background-color:#FFFFFF ;
    width: 229px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    gap: 6px;
}
.hero-sub h1{
    padding-top: 16px;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;

}
.hero-sub .big-dot{
    width: 16px;
    height: 16px;
    padding-top: 10px;
    border-radius: 50%;
    background: radial-gradient(darkgreen 20%,rgb(148, 204, 95) 50%,lightgray 50%);
    display: inline-flex;

}
.hero-sub p{
    padding-top: 16px;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    max-width: 760px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin:0 auto

}
.btn-aside{
    
    display: flex;
    justify-content: center;
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    border:2px solid #FFFFFF ;
    color:  #FFFFFF ;
    background-color: transparent;
    border-radius: 4px;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
    padding: 13px 16px;

}
.btn-aside:hover{
    color: goldenrod;
}
.hero-btn{
    padding-top: 32px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.mid-container{
    background-color:#ffffff;
}
.mid-container h3{
    font-size: 48px;
    font-weight: 700;
    color:#001931 ;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.mid-container p{
    font-size: 16px;
    color: #627382;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 40px;
}
.notes-container{
    display: flex;
    justify-content:space-evenly;
    
    
  
    
   
  } 
.list-container{
    width: 220px;

    height: 260px ;
   
    border: 1px solid whitesmoke;
    gap: 8px;
    padding-top: 40px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 8px;
    
}
.list-container h4{
    color:#001931 ;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px; 
    text-transform: capitalize;
   text-align: center;

}
.list-container p{
    width: 100%;
    font-size: 16px;
    color:#627382 ;
    padding-top: 8px;
    text-align: center;
    
}

.list-container img{
    background-color:#F95555 ;
    border-radius: 50%;
    padding: 13px 14px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;

    justify-content: center;
    
}
#design-container{
    display: flex;
    justify-content:space-between;
    padding: 73px;
    gap:60px ;

}
#design-container .right-container{
    list-style: none;
    display: flex;
    font-size:16px ;
    color: #001931;
    gap: 16px;
    padding-top:16px ;
    
}
#design-container h5{
    color:#469165 ;
    font-size: 16px;
    padding-top:102px ;
}
#design-container h2{
    color: #001931;
    font-size: 42px;
    padding-top: 16px;

}
#design-container .paragraph {
    color: #627382;
    font-size:16px ;
    gap: 16px;
    padding-top: 20px;
    

}
#design-container .list{
    padding-top:30px ;
}
.info{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    border: #F7F6F2 ;
    padding: 80px 40px 80px 40px;
    margin-left: 73px;
    margin-right: 73px;
}
.info h2{
    font-size: 40px;
    padding-top:80px ;
    color:#001931 ;

}
.info p{
    color: #627382;
    font-size:16px ;
    padding-top:16px ;
    
    
}


.info .fault{
   padding-bottom: 16px;
}





